.registerContainer{
    width:300px;
    height:300px;
    padding:20px;
    border-radius:10px;
    background-color: white;
    position:fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-direction:column;
}

.logo{
    color:tomato;
    display:flex;
    align-items:center;
    font-weight: 700;
}
.registerBtn{
    cursor:pointer;
    border:none;
    padding:5px;
    border-radius: 5px;
    background-color: tomato;
    color:white;
}

.success{
    color:green;
    font-size:12px;
    text-align:center;
}
.failure{
    color:red;
    font-size:12px;
    text-align:center;
}

.registerCancel{
    cursor:pointer;
    position:absolute;
    top:5px;
    right:5px;
    color:tomato;
}